
input[type=submit] {
    width: 80px;
    background: green;
    border: none;
    font-size: 20px;
    padding: 10px 0;
    color: #000;
    line-height: 25px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
    margin-top: 0px;
    margin-left: 10px;
}

input[type=submit]:hover {
    color: #fff;
    background-color: #000;
}
